.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 960px;
   /* border: 1px solid red; */
   padding: 0 10px 0 10px;

}

.content {
width: 650px;
background-color: #666666;

}

.sideBar {
    width: 270px;
    background-color: #666666;
    height: 200px;
}

.imgProfile {
    width: 26%;
    float: left;
    margin: 10px;
}
.footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #666666;
    border-top: 5px solid lavender;

}
.centerContent {
 text-align: center;
 color: white;
}
.main {
    background-color: #ccc;
    background-image: url("../../assets/images/webBackground.jpg") !important;
    
}

.nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 70px;
    background-color: white;
}

.name {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 10px;
    width: 15%;
    background-color: lavender;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #666666;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.articleContainer {
   padding: 25px;
}

.imgContainer {
    padding: 25px;
 }

.imgContainer img {
   padding: 2px;
 
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: lavender;
}

hr {
    border: 3px dashed white;
}

p {
    color: whitesmoke;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}